.Footer{
  background-color:#dddddd;
  box-sizing:border-box;
  width:100%;
  left:0;
  padding:10px 2em 10px;
  position:;
}
.Footer a{
  text-decoration:none;
  color:#000000;
}
.Footer a:not(:last-child)::after{
  content:" /";
}
.Footer a:last-child{}
