.main h3:before{
	content:"～";
}
.main h3:after{
	content:"～";
}
.main ul{
	text-align:center;
	font-size:200%;
	list-style:none;	
}
.policy{
	text-align:center;
	width:100%;
	background-color:#00cc00;
}
.seemore{
	text-align:end;
}
.seemore a:before{
	content:"もっと見る》";
}
.Headerimg{
	background-image: url("../images/onestep.jpg");
	background-size: cover;
}
